.body-index {
  background: $bitter_sweet;
  overflow: hidden;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.profile {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
}

.profile__pict-content {
  margin: 0 auto 2rem auto;
  width: 20vw;

  img {
    border-radius: 100%;
    width: 100%;
  }
}

.profile__content {
  text-align: center;

  .profile__name,
  .profile__professional-role {
    margin: 0;
  }

  .profile__professional-role {
    font-size: 1.25rem;
  }

  .profile__link a {
    color: $smoke_white;
    text-decoration: none;
  }
}

.profile__contact-links {
  display: flex;
  justify-content: center;
}

.profile__contact-content {
  font-size: 2rem;
  margin: 0 0.75rem;
}

.profile__contact-link {
  color: $white;
  text-decoration: none;
}
