@media screen and (min-width: 992px) {
  body#main_body {
    font-size: 18px;
    
    .wall-section {
      height: 100vh;
    }
  }
}

@media screen and (max-width: 991px) {
  section div.section-desc {
    border: none;
  }
}
