/*
 * Max width for mobile (portrait and landscape)
 */
@media screen and (max-width: 767px) {
  .body-index .profile__pict-content {
    min-width: 200px;
  }

  .body-timeline {
    .footer {
      flex-wrap: wrap;

      .footer__social-network-content {
        margin-left: 0;
        order: 0;
      }

      .footer__social-network-item:first-child {
        margin-left: 0;
      }

      .footer__social-network-title {
        margin-left: 0;
      }

      .footer__contact {
        order: 1;
        width: 100%;
      }
    }
  }
}

/*
 * Range width for landscape
 */
@media screen and (min-width: 375px) and (max-width: 767px) {
  .section__content.section__content-portfolio {
    margin-left: 0;
  }

  .section__item {
    width: 50%;

    &.section__item-project {
      width: 100%;
    }
  } 
}

@media screen and (min-width: 481px) {
  .section__content-intro {
    margin: auto;
    max-width: 75vw;
  }
}

/*
 * Range width for portrait
 */
@media screen and (max-width: 480px) {
  .footer__submit {
    width: 100%;
  }
}

@media screen and (max-width: 374px) {
  .section__item,
  .section__item.section__item-project {
    width: 100%;
  }
}